<nz-drawer
  [nzVisible]="isVisible()"
  nzPlacement="right"
  [nzClosable]="false"
  [nzWidth]="window.innerWidth*0.85"
  (nzOnClose)="handleClose()"
  [nzBodyStyle]="{padding: '0 0.5vw'}"
>
  <ng-container *nzDrawerContent>
    <div class="container drawer-teammate">
      <div nz-flex nzJustify="start" nzGap="1vw" style="height: 20vh;">
        <!-- <img
          nz-image
          height="100%"
          style="border-radius: 10px;"
          nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
          alt=""
        /> -->
        <img src="user.png"/>

        <div nz-flex nzJustify="space-between" [nzVertical]="true" nzAlign="space-between" nzGap="1vh">
          <!-- Editable NAME + USERNAME -->
          <div>
            <h2>
              <!-- Name -->
               <span>Full name: </span>
              <span *ngIf="!isEditingName">{{user()?.firstName + ' ' + user()?.lastName}}</span>
              <input
                class="edit-input"
                nz-input
                *ngIf="isEditingName"
                #nameInput
                type="text"
                [(ngModel)]="user().firstName"
                (keyup.enter)="finishEditingTeammateField('name')"
                (keyup.escape)="finishEditingTeammateField('name')"
              />
              <input
                class="edit-input"
                nz-input
                *ngIf="isEditingName"
                #nameInput
                type="text"
                [(ngModel)]="user().lastName!"
                (keyup.enter)="finishEditingTeammateField('name')"
                (keyup.escape)="finishEditingTeammateField('name')"
              />
              
              @if(canEditField){
                <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('name')"></nz-icon>
              }

              <nz-divider nzType="vertical"></nz-divider>

              <!-- Username -->
               <span>Username: </span>
              <span style="color:#767676;" *ngIf="!isEditingUsername">{{user()?.username}}</span>
              <input
                nz-input
                *ngIf="isEditingUsername"
                #usernameInput
                type="text"
                value="Username123"
                [(ngModel)]="user().username"
                (keyup.enter)="finishEditingTeammateField('username')"
                (keyup.escape)="finishEditingTeammateField('username')"
                class="edit-input"
              />
              @if(canEditField){
                <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('username')"></nz-icon>
              }
            </h2>

            <!-- Editable ROLE + RATE -->
              <nz-select *ngIf="user()" nzPlaceHolder="Select status" [nzCustomTemplate]="defaultSelectedTemplate"
                         [(ngModel)]="user().role" (ngModelChange)="finishEditingTeammateField('role')" [disabled]="!canEditRole">
                <nz-option nzCustomContent nzLabel="Admin" nzValue="Admin">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#00C040"/>
                      </svg>
                    </nz-icon>
                    Admin
                  </div>
                </nz-option>
                <nz-option nzCustomContent nzLabel="GIP" nzValue="Gip">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#FFA94D"/>
                      </svg>
                    </nz-icon>
                    GIP
                  </div>
                </nz-option>
                <nz-option nzCustomContent nzLabel="Employee" nzValue="Employee">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#3a58dbff"/>
                      </svg>
                    </nz-icon>
                    Employee
                  </div>
                </nz-option>
              </nz-select>
              <ng-template #defaultSelectedTemplate let-selected>
                <div style="display: flex; align-items: center; gap: 4px;">
                  <nz-icon>
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="7.60714" height="8" rx="2" [attr.fill]="getColor(selected.nzValue)"/>
                    </svg>
                  </nz-icon>
                  {{ selected.nzLabel }}
                </div>
              </ng-template>
              <nz-divider nzType="vertical"></nz-divider>

              @if(canSeeSalary){
                <span>Salary: </span>
              <span style="color:green;" *ngIf="!isEditingRate">{{user()?.salary}}</span>
              <input
                nz-input
                *ngIf="isEditingRate"
                #rateInput
                type="number"
                [(ngModel)]="user().salary"
                (keyup.enter)="finishEditingTeammateField('rate')"
                (keyup.escape)="finishEditingTeammateField('rate')"
                class="edit-input"
              />
              }
              @if(canEditSalary){
                <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('rate')"></nz-icon>
              }
          </div>

          <!-- Editable CONTACTS -->
          <div class="info-container">
            <!-- Phone -->
            <p>
              <span>Phone: </span>
              <span *ngIf="!isEditingPhone">{{user()?.phone}}</span>
              <input
                nz-input
                *ngIf="isEditingPhone"
                #phoneInput
                type="text"
                [(ngModel)]="user().phone!"
                (keyup.enter)="finishEditingTeammateField('phone')"
                (keyup.escape)="finishEditingTeammateField('phone')"
                class="edit-input"
              />
              @if(canEditField){
                <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('phone')"></nz-icon>
              }
            </p>

            <!-- Email -->
            <p>
              <span>Email: </span>
              <span *ngIf="!isEditingEmail">{{user()?.email}}</span>
              <input
                nz-input
                *ngIf="isEditingEmail"
                #emailInput
                type="email"
                value="anotheremail.com"
                [(ngModel)]="user().email!"
                (keyup.enter)="finishEditingTeammateField('email')"
                (keyup.escape)="finishEditingTeammateField('email')"
                class="edit-input"
              />
              @if(canEditField){
                <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('email')"></nz-icon>
              }
            </p>
          </div>
        </div>
      </div>

      <!-- Project / Stage selectors -->
      <div nz-flex nzJustify="space-between" nzGap="2vw" style="padding: 2.5vh 0.5vw 1.5vh">
        <div nz-flex nzAlign="center" nzJustify="space-between" nzGap="1vw">
          <h3>Project:</h3>
          <nz-select nzAllowClear
                     [(ngModel)]="selectedProjectId"
                     (ngModelChange)="projectIdSelected()"
                     nzPlaceHolder="Select project">
            @for (project of projects; track project.projectId) {
              <nz-option nzCustomContent [nzLabel]="project.projectName" [nzValue]="project.projectId">
                <span>{{project.projectName}}</span>
              </nz-option>
            }
          </nz-select>
        </div>
        <div nz-flex nzAlign="center" nzJustify="space-between" nzGap="1vw">
          <h3>Stage:</h3>
          <nz-select nzAllowClear
                     [(ngModel)]="selectedStageId"
                     (ngModelChange)="stageIdSelected()"
                     nzPlaceHolder="Select stages">
            @if (selectedProjectId==='') {
              @for (stage of stages; track stage.stageId) {
                <nz-option nzCustomContent [nzLabel]="stage.stageName" [nzValue]="stage.stageId">
                  <span>{{stage.stageName}}</span>
                </nz-option>
              }
            }
            @else {
              @for (stage of filteredStagesByProjectId; track stage.stageId) {
               <nz-option nzCustomContent [nzLabel]="stage.stageName" [nzValue]="stage.stageId">
                <span>{{stage.stageName}}</span>
                </nz-option>
              }
            }
          </nz-select>
        </div>
      </div>

      <!-- Processes -->
      <nz-table #outBordered nzOuterBordered [nzData]="processes">
        <tbody>
          <thead>
            <tr>
              <th>Name</th>
              <th>Notes</th>
              <th>End date</th>
              <th>Status</th>
              <th>Progress</th>
            </tr>
          </thead>
          @if (selectedProjectId==='') {
            @for (process of processes; track process.processId) {
              <tr>
                <td>{{process.processName}}</td>
                <td>{{process.notes}}</td>
                <td>{{process.planEndDate | date: 'dd.MM.yyyy'}}</td>
                <td><nz-tag nzColor="blue">{{process.status}}</nz-tag></td>
                <td>
                  <nz-progress
                    [nzPercent]="getProgressPercent(process)"
                    nzStrokeColor="#7AC327"
                    [nzShowInfo]="true"
                    nzStrokeLinecap="round"
                  ></nz-progress>
                </td>
              </tr>
            } @empty {
            }
          } @else if (selectedProjectId!='' && selectedStageId==='') {
            @for (process of filteredProcessesByProjectId; track process.processId) {
              <tr>
                <td>{{process.processName}}</td>
                <td>{{process.notes}}</td>
                <td>{{process.planEndDate | date: 'dd.MM.yyyy'}}</td>
                <td><nz-tag nzColor="blue">{{process.status}}</nz-tag></td>
                <td>
                  <nz-progress
                    [nzPercent]="getProgressPercent(process)"
                    nzStrokeColor="#7AC327"
                    [nzShowInfo]="true"
                    nzStrokeLinecap="round"
                  ></nz-progress>
                </td>
              </tr>
            } @empty {
            }
          } @else if (selectedStageId !=''){
            @for (process of filteredProcessesByStageId; track process.processId) {
              <tr>
                <td>{{process.processName}}</td>
                <td>{{process.notes}}</td>
                <td>{{process.planEndDate | date: 'dd.MM.yyyy' }}</td>
                <td><nz-tag nzColor="blue">{{process.status}}</nz-tag></td>
                <td>
                  <nz-progress
                    [nzPercent]="getProgressPercent(process)"
                    nzStrokeColor="#7AC327"
                    [nzShowInfo]="true"
                    nzStrokeLinecap="round"
                  ></nz-progress>
                </td>
              </tr>
            } @empty {
            }
          }

        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-drawer>
