<nz-drawer
  [nzVisible]="isVisible()"
  nzPlacement="right"
  [nzClosable]="false"
  [nzWidth]="window.innerWidth*0.85"
  (nzOnClose)="handleClose()"
  [nzBodyStyle]="{padding: '0 0.5vw'}"
>
  <ng-container *nzDrawerContent>
    <div class="container drawer-teammate">
      <div nz-flex nzJustify="start" nzGap="1vw" style="height: 20vh;">
        <img
          nz-image
          height="100%"
          style="border-radius: 10px;"
          nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
          alt=""
        />

        <div nz-flex nzJustify="space-between" [nzVertical]="true" nzAlign="space-between" nzGap="1vh">
          <!-- Editable NAME + USERNAME -->
          <div>
            <h2>
              <!-- Name -->
              <span *ngIf="!isEditingName">{{userUpdate.firstName + ' ' + userUpdate.lastName}}</span>
              <input
                nz-input
                *ngIf="isEditingName"
                #nameInput
                type="text"
                [(ngModel)]="userUpdate.firstName"
                (keyup.enter)="finishEditingTeammateField('name')"
                (keyup.escape)="finishEditingTeammateField('name')"
              />
              <input
                nz-input
                *ngIf="isEditingName"
                #nameInput
                type="text"
                [(ngModel)]="userUpdate.lastName!"
                (keyup.enter)="finishEditingTeammateField('name')"
                (keyup.escape)="finishEditingTeammateField('name')"
              />
              <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('name')"></nz-icon>

              <nz-divider nzType="vertical"></nz-divider>

              <!-- Username -->
              <span style="color:#767676;" *ngIf="!isEditingUsername">{{userUpdate.username}}</span>
              <input
                nz-input
                *ngIf="isEditingUsername"
                #usernameInput
                type="text"
                value="Username123"
                [(ngModel)]="userUpdate.username"
                (keyup.enter)="finishEditingTeammateField('username')"
                (keyup.escape)="finishEditingTeammateField('username')"
                class="edit-input"
              />
              <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('username')"></nz-icon>
            </h2>

            <!-- Editable ROLE + RATE -->
              <nz-select *ngIf="userUpdate" nzAllowClear nzPlaceHolder="Select status" [nzCustomTemplate]="defaultTemplate"
                         [(ngModel)]="userUpdate.role" (ngModelChange)="finishEditingTeammateField('role')">
                <nz-option nzCustomContent nzLabel="Admin" nzValue="Admin">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#2679ff"/>
                      </svg>
                    </nz-icon>
                    Admin
                  </div>
                </nz-option>
                <nz-option nzCustomContent nzLabel="GIP" nzValue="GIP">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#FF9800"/>
                      </svg>
                    </nz-icon>
                    GIP
                  </div>
                </nz-option>
                <nz-option nzCustomContent nzLabel="Employee" nzValue="Employee">
                  <div style="display: flex; align-items: center; gap: 4px;">
                    <nz-icon>
                      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="7.60714" height="8" rx="2" fill="#00C040"/>
                      </svg>
                    </nz-icon>
                    Employee
                  </div>
                </nz-option>
              </nz-select>
              <ng-template #defaultTemplate let-selected>
                <div style="display: flex; align-items: center; gap: 4px;">
                  <nz-icon>
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="7.60714" height="8" rx="2" fill="#00C040"/>
                    </svg>
                  </nz-icon>
                  {{ selected.nzLabel }}
                </div>
              </ng-template>
              <nz-divider nzType="vertical"></nz-divider>

              <span style="color:green;" *ngIf="!isEditingRate">{{userUpdate.salary}}</span>
              <input
                nz-input
                *ngIf="isEditingRate"
                #rateInput
                type="number"
                [(ngModel)]="userUpdate.salary"
                (keyup.enter)="finishEditingTeammateField('rate')"
                (keyup.escape)="finishEditingTeammateField('rate')"
                class="edit-input"
              />
              <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('rate')"></nz-icon>
              per life
          </div>

          <!-- Editable CONTACTS -->
          <div class="info-container">
            <!-- Phone -->
            <p>
              <span *ngIf="!isEditingPhone">{{userUpdate.phone}}</span>
              <input
                nz-input
                *ngIf="isEditingPhone"
                #phoneInput
                type="text"
                [(ngModel)]="userUpdate.phone!"
                (keyup.enter)="finishEditingTeammateField('phone')"
                (keyup.escape)="finishEditingTeammateField('phone')"
                class="edit-input"
              />
              <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('phone')"></nz-icon>
            </p>

            <!-- Email -->
            <p>
              <span *ngIf="!isEditingEmail">{{userUpdate.email}}</span>
              <input
                nz-input
                *ngIf="isEditingEmail"
                #emailInput
                type="email"
                value="anotheremail.com"
                [(ngModel)]="userUpdate.email!"
                (keyup.enter)="finishEditingTeammateField('email')"
                (keyup.escape)="finishEditingTeammateField('email')"
                class="edit-input"
              />
              <nz-icon nzType="edit" class="edit-icon" (click)="startEditingTeammateField('email')"></nz-icon>
            </p>
          </div>
        </div>
      </div>

      <!-- Project / Stage selectors -->
      <div nz-flex nzJustify="space-between" nzGap="2vw" style="padding: 1.5vh 0.5vw">
        <div nz-flex nzAlign="center" nzJustify="space-between" nzGap="1vw">
          <h3>Project:</h3>
          <nz-select>Select project</nz-select>
        </div>
        <div nz-flex nzAlign="center" nzJustify="space-between" nzGap="1vw">
          <h3>Stage:</h3>
          <nz-select></nz-select>
        </div>
      </div>

      <!-- Processes -->
      <nz-table #outBordered nzOuterBordered>
        <tbody>
        <tr>
          <td>Sample process</td>
          <td>Just a description</td>
          <td>27 July, 2025</td>
          <td><nz-tag nzColor="blue">In Progress</nz-tag></td>
          <td>
            <nz-progress
              [nzPercent]="34"
              nzStrokeColor="#7AC327"
              [nzShowInfo]="true"
              nzStrokeLinecap="round"
            ></nz-progress>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-drawer>
