.card.process{
    background: white;
    padding: 1vh 1vw;
    width: 100%;
    overflow: hidden;
    display:flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    //transition: transform 0.25s ease, box-shadow 0.25s ease;

    nz-card.card-info-item {
      width: fit-content;
    }
    &:hover {
    transform: translateY(-2px) scale(1.00);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.card-info-container.process{
  flex-direction: column;
  gap:1vh;

  .card-info-item{
    display: flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 6px;
    background: #f5f5f5; /* легкий фон для читаемости */
    width: 100%; /* пусть занимает всю ширину */
    box-sizing: border-box;
  }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.cdk-drag-placeholder {
  opacity: 0;
}


