@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

@primary-color: rgba(122, 195, 39, 1);

/* **============================
   GLOBAL STYLES
 ****  ============================ */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f0f2f5;

  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.0vw;
  }

  &-search {
    height: 5.2vh;
    width: 27vw;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(66, 68, 90, 25%);
  }

  &-btn {
    height: 5.2vh;

    &.create {
      color: white;
      background: #008CFF;
    }
    &.active {
      color: #00C040;
    }
    &.archive {
      color: #FFA220;
    }
  }
}

/**** ============================
  *** CONTENT STYLES
   ============================ */
nz-content{
  font-family: 'Inria Sans', sans-serif;
  [class*="-btn"] {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(66, 68, 90, 25%);
  }
}
.flex-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1vw;
  padding: 0 1vw;
  min-height: 50vh;
  //max-height: fit-content;
}

nz-card,
.card {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(66, 68, 90, 25%);
  font-family: 'Inria Sans', sans-serif;

  &-title {
    font-weight: 600;
  }


  &-footer {
    text-align: right;
  }

  &-btn {
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }
}

.card-status{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-footer-wrapper{
  padding: 0 0.25vw;
  width: 100%;
  display: flex;
}
.card-info-container, [class*="info-container"]  {
  display: flex;
  justify-content: start;
}
.card-info-item {
  display: flex;
  flex-direction: column;
}
.card-info-label {
  font-weight: 600;
}
.add-btn{
  box-shadow: none !important;
}


