<nz-layout>
  <nz-content>
    <div class="project-details">
      <div class="project-title">
        <!-- Если не редактируем -->
        <h2 *ngIf="!isEditingProjectName">
          {{ project?.projectName }}
          <nz-icon
            nzType="edit"
            nzTheme="outline"
            class="edit-icon"
            (click)="startEditingDetailsField('projectName')"
          ></nz-icon>
        </h2>

        <!-- Если редактируем -->
        <input
          *ngIf="isEditingProjectName"
          [(ngModel)]="project!.projectName"
          (keyup.enter)="finishEditingDetailsField('projectName')"
          class="edit-input"
          autofocus
        />
      </div>

      <!-- DETAILS SECTION -->
      <div class="container">
        <div class="card-label">DETAILS</div>
        <div class="flex-table project-details" style="min-height: fit-content;">
          <nz-card class="card" [nzBordered]="false">
            <div class="card-info-container">
              <nz-icon>
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5417 20.875H3.20833C2.05774 20.875 1.125 19.9423 1.125 18.7917V9.41666H19.875V14.625M13.625 3.16666V1.08333M13.625 3.16666V5.24999M13.625 3.16666H8.9375" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.125 9.41667V5.25001C1.125 4.09941 2.05774 3.16667 3.20833 3.16667H5.29167" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.29167 1.08333V5.24999" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.875 9.41667V5.25001C19.875 4.09941 18.9423 3.16667 17.7917 3.16667H17.2708" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.6667 19.8333L16.75 21.9167L20.9167 17.75" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </nz-icon>
              <div class="card-info-item">
                <span class="card-info-label">
                  Start Date
                  <nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    class="edit-icon"
                    (click)="startEditingDetailsField('startDate')"/>
                </span>
                @if (isEditingStartDate) {
                  <nz-date-picker [(ngModel)]="project!.startDate" (ngModelChange)="finishEditingDetailsField('start')" nzSize="large"
                                  (keyup.enter)="finishEditingDetailsField('startDate')"
                                  nzVariant="underlined" nzFormat="dd.MM.yyyy"></nz-date-picker>
                } @else {
                  <span>{{ project?.startDate | date:'dd.MM.yyyy' }}</span>
                }
              </div>
            </div>
          </nz-card>

          <nz-card class="card" [nzBordered]="false">
            <div class="card-info-container">
              <nz-icon>
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5417 20.875H3.20833C2.05774 20.875 1.125 19.9423 1.125 18.7917V9.41666H19.875V14.625M13.625 3.16666V1.08333M13.625 3.16666V5.24999M13.625 3.16666H8.9375" stroke="#FFA220" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.125 9.41667V5.25001C1.125 4.09941 2.05774 3.16667 3.20833 3.16667H5.29167" stroke="#FFA220" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.29166 1.08333V5.24999" stroke="#FFA220" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.875 9.41667V5.25001C19.875 4.09941 18.9423 3.16667 17.7917 3.16667H17.2708" stroke="#FFA220" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.6667 19.8333L16.75 21.9167L20.9167 17.75" stroke="#FFA220" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </nz-icon>
              <div class="card-info-item">
                <span class="card-info-label">
                  End Date
                  <nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    class="edit-icon"
                    (click)="startEditingDetailsField('endDate')"/>
                </span>
                @if (isEditingEndDate) {
                  <nz-date-picker [(ngModel)]="project!.endDate"
                                  (keyup.enter)="finishEditingDetailsField('endDate')"
                                  nzSize="large"
                                  nzVariant="underlined" nzFormat="dd.MM.yyyy"></nz-date-picker>
                } @else {
                  <span>{{ project?.endDate | date:'dd.MM.yyyy' }}</span>
                }
              </div>
            </div>
          </nz-card>

          <nz-card class="card" [nzBordered]="false">
            <div class="card-info-container">
              <nz-icon>
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5417 20.875H3.20833C2.05774 20.875 1.125 19.9423 1.125 18.7917V9.41666H19.875V14.625M13.625 3.16666V1.08333M13.625 3.16666V5.24999M13.625 3.16666H8.9375" stroke="#008CFF" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M1.125 9.41667V5.25001C1.125 4.09941 2.05774 3.16667 3.20833 3.16667H5.29167" stroke="#008CFF" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M5.29169 1.08333V5.24999" stroke="#008CFF" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.875 9.41667V5.25001C19.875 4.09941 18.9423 3.16667 17.7916 3.16667H17.2708" stroke="#008CFF" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M14.6667 19.8333L16.75 21.9167L20.9167 17.75" stroke="#008CFF" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </nz-icon>
              <div class="card-info-item">
                <span class="card-info-label">
                  Const. Work Start
                  <nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    class="edit-icon"
                    (click)="startEditingDetailsField('constWorkStartDate')"/>
                </span>
                @if (isEditingConstWorkStartDate) {
                  <nz-date-picker [(ngModel)]="project!.constructionWorksStart"
                                  nzSize="large"
                                  (keyup.enter)="finishEditingDetailsField('constWorkStartDate')"
                                  nzVariant="underlined" nzFormat="dd.MM.yyyy"></nz-date-picker>
                } @else {
                  <span>{{ project?.constructionWorksStart | date:'dd.MM.yyyy' }}</span>
                }
              </div>
            </div>
          </nz-card>

          <nz-card class="card" [nzBordered]="false">
            <div class="card-info-container">
              <nz-icon>
                <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.41667 4.57371C7.58422 3.80529 6.11819 3.27081 4.77083 3.23734M4.77083 3.23734C3.16773 3.19752 1.73264 3.86696 1.73264 5.69552C1.73264 9.06093 8.41667 7.37822 8.41667 10.7435C8.41667 12.663 6.63771 13.4877 4.77083 13.4258M4.77083 3.23734V1.20833M1.125 11.8654C1.90822 12.8294 3.36448 13.3792 4.77083 13.4258M4.77083 13.4258V15.7917" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M19.875 8.5H11.5417M11.5417 8.5L15.5417 4.33333M11.5417 8.5L15.5417 12.6667" stroke="#00C040" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </nz-icon>
              <div class="card-info-item">
                <span class="card-info-label">Budget <nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  class="edit-icon"
                  (click)="startEditingDetailsField('budget')"/>
                </span>
                <span *ngIf="!isEditingBudget">{{ project?.budget }}$</span>
                <!-- input при редактировании -->
                <input
                  #budgetInput
                  type="number"
                  *ngIf="isEditingBudget"
                  [(ngModel)]="project!.budget"
                  (keyup.enter)="finishEditingDetailsField('budget')"
                  class="edit-input"/>
              </div>
            </div>
          </nz-card>

          <nz-card class="card" [nzBordered]="false">
            <div class="card-info-container">
              <nz-icon>
                <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.41667 4.57371C7.58422 3.80529 6.11819 3.27081 4.77083 3.23734M4.77083 3.23734C3.16773 3.19752 1.73264 3.86696 1.73264 5.69552C1.73264 9.06093 8.41667 7.37822 8.41667 10.7435C8.41667 12.663 6.63771 13.4877 4.77083 13.4258M4.77083 3.23734V1.20833M1.125 11.8654C1.90822 12.8294 3.36448 13.3792 4.77083 13.4258M4.77083 13.4258V15.7917" stroke="#FF0000" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.5417 8.5H19.875M19.875 8.5L15.875 4.33333M19.875 8.5L15.875 12.6667" stroke="#FF0000" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </nz-icon>
              <div class="card-info-item">
                <span class="card-info-label">Expenses <nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  class="edit-icon"
                  (click)="startEditingDetailsField('expenses')"/></span>
                <span *ngIf="!isEditingExpenses">{{ project?.expenses }}$</span>
                <!-- input при редактировании -->
                <input
                  #expensesInput
                  type="number"
                  *ngIf="isEditingExpenses"
                  [(ngModel)]="project!.expenses"
                  (keyup.enter)="finishEditingDetailsField('expenses')"
                  class="edit-input"/>
              </div>
            </div>
          </nz-card>
        </div>
      </div>


      <!-- DESCRIPTION -->
      <div class="card-container">
        <div class="card-label">
          DESCRIPTION
          <nz-icon
            nzType="edit"
            nzTheme="outline"
            class="edit-icon"
            (click)="startEditingDetailsField('description')"/>
        </div>
        <nz-card class="card description-card" [nzBordered]="false">
          @if (isEditingDescription){
            <textarea #descriptionInput
                      [(ngModel)]="project!.description"
                      style="width: 100%; height: 100%;"
                      placeholder=""
                      (keyup.enter)="finishEditingDetailsField('description')"
            >{{project?.description}}</textarea>
          }
          @else {
            <div style="width: 100%; height: 100%;">{{project?.description}}</div>
          }
        </nz-card>
      </div>

      <!-- PROGRESS SECTION -->
      <div class="mt-3">
        <div class="card-info-label mb-1">PROGRESS</div>
        <div class="progress-status">
      <span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0ZM3.50536 5.98309C3.34189 5.81961 3.07684 5.81961 2.91337 5.98309C2.74989 6.14657 2.74989 6.41157 2.91337 6.57505L4.58778 8.24947C4.75126 8.41295 5.01634 8.41295 5.17976 8.24947L9.08673 4.34251C9.25021 4.17904 9.25021 3.91399 9.08673 3.75051C8.92326 3.58704 8.65825 3.58704 8.49477 3.75051L4.88378 7.36147L3.50536 5.98309Z" fill="black"/>
      </svg>
        2 done
      </span>
          <span>
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 3V6H9" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 11C8.7614 11 11 8.7614 11 6C11 3.23857 8.7614 1 6 1C3.23857 1 1 3.23857 1 6C1 8.7614 3.23857 11 6 11Z" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
        5 in progress
      </span>
          <span>
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.5 12C9.53754 12 12 9.53754 12 6.5C12 3.46243 9.53754 1 6.5 1C3.46243 1 1 3.46243 1 6.5C1 9.53754 3.46243 12 6.5 12Z" stroke="black" stroke-width="0.533333" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
        4 to do
      </span>
        </div>
        <nz-progress
          nz-tooltip
          nzTooltipTitle="3 done / 3 in progress / 4 to do"
          [nzPercent]="60"
          [nzSuccessPercent]="30"
          nzStrokeColor="#FFA220"
          [nzStrokeWidth]="3"
          [nzShowInfo]="false"
        ></nz-progress>
      </div>
      <app-stages-list [stages]="project?.stages || null"></app-stages-list>
    </div>
  </nz-content>


  <!-- SIDER STARTS HERE -->
  <nz-sider nzTheme="light" [nzWidth]="200" class="project-details-sider">
    <div class="project-details-sider-content">

      <!-- STATUS -->
      <div class="container">
        <h3>STATUS</h3>
        <nz-select *ngIf="project" nzAllowClear nzPlaceHolder="Select status" [nzCustomTemplate]="defaultTemplate"
          style="width: 100%;" [(ngModel)]="project.status" (ngModelChange)="finishEditingDetailsField('status')">
          <nz-option nzCustomContent nzLabel="Not started" nzValue="NotStarted">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#9E9E9E"/>
              </svg>
            </nz-icon>
            Not started
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="In progress" nzValue="InProgress">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#2679ff"/>
              </svg>
            </nz-icon>
            In progress
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Paused" nzValue="Paused">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#FF9800"/>
              </svg>
            </nz-icon>
            Paused
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Done" nzValue="Done">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#00C040"/>
              </svg>
            </nz-icon>
            Done
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Expired" nzValue="Expired">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#F44336"/>
              </svg>
            </nz-icon>
            Expired
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Cancelled" nzValue="Cancelled">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#fadd05"/>
              </svg>
            </nz-icon>
            Cancelled
            </div>
          </nz-option>
        </nz-select>
        <ng-template #defaultTemplate let-selected>
          <div style="display: flex; align-items: center; gap: 4px;">
            <nz-icon>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="7.60714" height="8" rx="2" [attr.fill]="getColor(selected.nzValue)"/>
            </svg>
          </nz-icon>
          {{ selected.nzLabel }}
          </div>
        </ng-template>
      </div>

      <!-- CLIENT -->
      <div class="container" >
        <div class="header" style="display:flex; justify-content:space-between; align-items:center;">
          <h3 style="margin:0;">CLIENT</h3>
            <nz-icon
              nz-dropdown
              [(nzVisible)]="dropdownVisible"
              [nzDropdownMenu]="menu"
              nzTrigger="click"
              nzType="plus"
              nzTheme="outline"
              class="edit-icon"/>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div style="background-color: white; border-radius: 10px;
                box-shadow: 0 4px 12px rgba(0,0,0,0.15);">
                <div style="max-height: 400px; overflow-y: auto; padding: 8px; min-width: 250px;">
                @for (client of clients; track client.clientId) {
                  <nz-card
                    class="client-card"
                    (click)="onClientSelect(client)">
                      <nz-icon>
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.6875 1.93026V21.1691H13.0625V1.93026H3.6875ZM2.90625 0.181274H13.8438C14.051 0.181274 14.2497 0.273408 14.3962 0.437407C14.5427 0.601407 14.625 0.823837 14.625 1.05577V22.0436C14.625 22.2755 14.5427 22.498 14.3962 22.662C14.2497 22.826 14.051 22.9181 13.8438 22.9181H2.90625C2.69905 22.9181 2.50034 22.826 2.35382 22.662C2.20731 22.498 2.125 22.2755 2.125 22.0436V1.05577C2.125 0.823837 2.20731 0.601407 2.35382 0.437407C2.50034 0.273408 2.69905 0.181274 2.90625 0.181274Z" fill="black"/>
                        <path d="M5.25 5.42822H11.5V7.17721H5.25V5.42822ZM5.25 10.6752H11.5V12.4242H5.25V10.6752ZM5.25 15.9221H11.5V17.6711H5.25V15.9221ZM14.625 12.4242H17.75V14.1732H14.625V12.4242ZM14.625 15.9221H17.75V17.6711H14.625V15.9221ZM0.5625 21.1691H22.4375V22.9181H0.5625V21.1691Z" fill="black"/>
                        <path d="M14.625 8.92611V21.169H19.3125V8.92611H14.625ZM13.8438 7.17712H20.0938C20.301 7.17712 20.4997 7.26926 20.6462 7.43326C20.7927 7.59726 20.875 7.81969 20.875 8.05162V22.0435C20.875 22.2754 20.7927 22.4979 20.6462 22.6619C20.4997 22.8259 20.301 22.918 20.0938 22.918H13.8438C13.6365 22.918 13.4378 22.8259 13.2913 22.6619C13.1448 22.4979 13.0625 22.2754 13.0625 22.0435V8.05162C13.0625 7.81969 13.1448 7.59726 13.2913 7.43326C13.4378 7.26926 13.6365 7.17712 13.8438 7.17712Z" fill="black"/>
                      </svg>
                    </nz-icon>
                    {{ client.companyName }}
                  </nz-card>
                }
              </div>
              </div>
            </nz-dropdown-menu>

        </div>
        <nz-card [nzBodyStyle]="{ padding: '10px' }" class="card client">
          @if (project?.client) {
            <nz-card-meta
            [nzTitle]="clientTitle"
            [nzDescription]="clientInfo"
          ></nz-card-meta>


        <ng-template #clientTitle>
          <nz-icon>
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.6875 1.93026V21.1691H13.0625V1.93026H3.6875ZM2.90625 0.181274H13.8438C14.051 0.181274 14.2497 0.273408 14.3962 0.437407C14.5427 0.601407 14.625 0.823837 14.625 1.05577V22.0436C14.625 22.2755 14.5427 22.498 14.3962 22.662C14.2497 22.826 14.051 22.9181 13.8438 22.9181H2.90625C2.69905 22.9181 2.50034 22.826 2.35382 22.662C2.20731 22.498 2.125 22.2755 2.125 22.0436V1.05577C2.125 0.823837 2.20731 0.601407 2.35382 0.437407C2.50034 0.273408 2.69905 0.181274 2.90625 0.181274Z" fill="black"/>
              <path d="M5.25 5.42822H11.5V7.17721H5.25V5.42822ZM5.25 10.6752H11.5V12.4242H5.25V10.6752ZM5.25 15.9221H11.5V17.6711H5.25V15.9221ZM14.625 12.4242H17.75V14.1732H14.625V12.4242ZM14.625 15.9221H17.75V17.6711H14.625V15.9221ZM0.5625 21.1691H22.4375V22.9181H0.5625V21.1691Z" fill="black"/>
              <path d="M14.625 8.92611V21.169H19.3125V8.92611H14.625ZM13.8438 7.17712H20.0938C20.301 7.17712 20.4997 7.26926 20.6462 7.43326C20.7927 7.59726 20.875 7.81969 20.875 8.05162V22.0435C20.875 22.2754 20.7927 22.4979 20.6462 22.6619C20.4997 22.8259 20.301 22.918 20.0938 22.918H13.8438C13.6365 22.918 13.4378 22.8259 13.2913 22.6619C13.1448 22.4979 13.0625 22.2754 13.0625 22.0435V8.05162C13.0625 7.81969 13.1448 7.59726 13.2913 7.43326C13.4378 7.26926 13.6365 7.17712 13.8438 7.17712Z" fill="black"/>
            </svg>
          </nz-icon>
          {{ project?.client?.companyName }}
        </ng-template>

        <ng-template #clientInfo>
          <div class="card-info-container">
            <div class="card-info-item">
            <span class="card-info-label">
              <nz-icon>
               <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 5.72039C6.24789 5.72039 5.52658 5.42162 4.99476 4.88979C4.46293 4.35797 4.16416 3.63666 4.16416 2.88455C4.16416 2.13244 4.46293 1.41113 4.99476 0.879305C5.52658 0.347482 6.24789 0.0487061 7 0.0487061C7.75211 0.0487061 8.47342 0.347482 9.00524 0.879305C9.53707 1.41113 9.83584 2.13244 9.83584 2.88455C9.83584 3.63666 9.53707 4.35797 9.00524 4.88979C8.47342 5.42162 7.75211 5.72039 7 5.72039ZM7 6.96633C10.7704 6.96633 13.1875 9.04702 13.1875 10.0601V11.9518H0.8125V10.0601C0.8125 8.83496 3.10075 6.96633 7 6.96633Z" fill="black"/>
               </svg>
              </nz-icon>
              Contact Person
            </span>
              <span>{{ project?.client?.contactPerson }} </span>
            </div>
            <div class="card-info-item">
              <span class="card-info-label">Email</span>
              <span>{{ project?.client?.clientEmail }}</span>
            </div>
            <div class="card-info-item">
              <span class="card-info-label">Phone</span>
              <span>{{ project?.client?.clientPhone }}</span>
            </div>
          </div>
        </ng-template>
          } @else {
            <div style="text-align:center; font-style:italic; color:gray;">
              Client do not added yet
            </div>
          }
        </nz-card>
      </div>

      <!-- MEMBERS -->
      <div class="container">
        <h3>MEMBERS</h3>
        <nz-card [nzBodyStyle]="{padding: '1vh 0.15vw', display: 'flex',flexDirection:'row', alignItems: 'center', justifyContent: 'space-between'}" class="card">
          <span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.1875 5.67169C5.43539 5.67169 4.71408 5.37291 4.18226 4.84109C3.65043 4.30926 3.35166 3.58796 3.35166 2.83584C3.35166 2.08373 3.65043 1.36242 4.18226 0.830599C4.71408 0.298776 5.43539 0 6.1875 0C6.93961 0 7.66092 0.298776 8.19274 0.830599C8.72457 1.36242 9.02334 2.08373 9.02334 2.83584C9.02334 3.58796 8.72457 4.30926 8.19274 4.84109C7.66092 5.37291 6.93961 5.67169 6.1875 5.67169ZM6.1875 6.91763C9.95794 6.91763 12.375 8.99831 12.375 10.0114V11.9031H0V10.0114C0 8.78625 2.28825 6.91763 6.1875 6.91763Z" fill="black"/>
          </svg>
          Imia Tipa TUt
          </span>

          <nz-tag nzColor="#ACACAC" [nzBordered]="false" style="border-radius:30px; margin: 0;" >Postion</nz-tag>
        </nz-card>
      </div>

    </div>
  </nz-sider>


</nz-layout>
