.card.project {
  width: 26.5vw;
  //height: 24.8vh;
  font-size: 1.8vh;
}
.card-button.archive{
  padding: 0 2.5vw;
  background-color: #FFA220;
}
.project-card-description {
  font-size: 1.8vh;
  height: 6vh;
}
