<nz-layout style="min-height: 100vh;">
    <nz-sider  nzTheme="light" [nzTrigger]="null">
        <div>
            <img class="logo">
            <span>PPG CRM</span>
        </div>

        <ul nz-menu nzTheme="light" nzMode="inline">
          @if (selectedProjectService.selectedProjectName()!=null) {
            <li nz-submenu
                nzTitle="Projects"
                nzIcon="bars"
                [nzOpen]="true"
                nzMenuClassName = "project-submenu"
            >
                <ul>
                    <li nz-menu-item >
                        <a [routerLink]="['/project-details']">
                            <nz-icon nzType="project" nzTheme="outline" />
                            <span>Project Details</span>
                        </a>
                    </li>
                    <li nz-menu-item >
                        <a [routerLink]="['/kanban']">
                            <nz-icon nzType="group" nzTheme="outline" />
                            <span>Kanban</span>
                        </a>
                    </li>
                    <li nz-menu-item >
                        <a [routerLink]="['/calendar']">
                            <nz-icon nzType="calendar" />
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li nz-menu-item >
                        <a [routerLink]="['/file']">
                            <nz-icon nzType="file" />
                            <span>File</span>
                        </a>
                    </li>
                </ul>
            </li>
            } @else if (selectedProjectService.selectedProjectName()==null) {
            <li nz-menu-item >
              <a [routerLink]="['projects']">
                <nz-icon nzType="bars" nzTheme="outline" />
                <span>Projects</span>
              </a>
            </li>
            }
            <li nz-menu-item >
                <a [routerLink]="['/archive']">
                    <nz-icon nzType="container" nzTheme="outline" />
                    <span>Archive</span>
                </a>
            </li>
            <li nz-menu-item >
                <a [routerLink]="['/clients']">
                    <nz-icon nzType="solution" nzTheme="outline" />
                    <span>Clients</span>
                </a>
            </li>
            <li nz-menu-item >
                <a [routerLink]="['/analytics']">
                    <nz-icon nzType="bar-chart" nzTheme="outline" />
                    <span>Analytics</span>
                </a>
            </li>
            <li nz-menu-item >
                <a [routerLink]="['/team']">
                    <nz-icon nzType="team" nzTheme="outline" />
                    <span>Team</span>
                </a>
            </li>
        </ul>
    </nz-sider>

    <!-- HEADER AND CONTENT STARTS HERE -->

    <nz-layout>
        <nz-header>
            <div class="header-left-block">

                <span class="active-project">
                  @if (selectedProjectService.selectedProjectName()!=null){
                    {{selectedProjectService.selectedProjectName()}}
                    }
                  @else {
                    No project selected
                  }
                </span>
            </div>
            <div class="header-right">
                <button nz-button nzType="default">
                    <nz-icon nzType="bell" nzTheme="outline" />
                </button>
                <button nz-button nzType="default">
                    <nz-icon nzType="message" nzTheme="outline" />
                </button>
                <button class="header-username-button" nz-button nzType="default" (click)="openDrawer()">
                    <nz-icon nzType="user" nzTheme="outline" />
                    <span>Super mEga Imia</span>
                </button>
            </div>
        </nz-header>
        <nz-content>
           <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>

    <!-- USERDRAWER STARTS HERE -->
    <app-user-drawer [visible]="userDrawerVisible()"  (close)="closeDrawer()" ></app-user-drawer>

</nz-layout>
