<nz-modal
  [(nzVisible)]="createNewTaskModalVisible"
  nzTitle="Create new task"
  (nzOnCancel)="handleCreateNewTaskModalCancel()"
  (nzOnOk)="handleCreateNewTaskModalOk()"
  [nzOkDisabled]="createNewTaskModalOkDisabled">

  <ng-container *nzModalContent>
    <input
      nz-input
      placeholder="Enter new task name"
      [(ngModel)]="createNewTaskName"
      (ngModelChange)="checkIfNewTaskNameEmpty()">
  </ng-container>
</nz-modal>
<nz-drawer [nzVisible]="isVisible()"
           nzPlacement="right"
           [nzClosable]="false"
           [nzTitle]="processDrawerTitle"
           (nzOnClose)="handleClose()"
          [nzWidth]="window.innerWidth*0.85"
          [nzBodyStyle]="{padding: 0 }"
           >
  <ng-template #processDrawerTitle>
    <span *ngIf="!isEditingProcessName">{{ process()?.processName }}</span>
    <input
      nz-input
          #processNameInput
          [(ngModel)]="process()!.processName"
           *ngIf="isEditingProcessName"
           (blur)="finishEditing('processName')"
           (keyup.enter)="finishEditing('processName')" />
    <nz-icon nzType="edit" class="edit-icon"
             (click)="startEditing('processName')"></nz-icon>
  </ng-template>
  <ng-container *nzDrawerContent>
    <nz-layout>
      <!--Details-->
      <nz-content>
        <div class="container-process-content" style="padding: 1vh 0.5vw;">
          <div nz-flex nzJustify="space-between" nzGap="2vw" nzAlign="center" class="project-details-header">
            <div class="container">
              <h3>
                Start Date
                <nz-icon nzType="edit" class="edit-icon"
                         (click)="startEditing('startDate')">
                </nz-icon>
              </h3>
              <nz-card class="card">
                <div class="card-info-container">
                  <nz-icon>
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.29167 15.625H2.95833C2.08388 15.625 1.375 14.9161 1.375 14.0417V6.91667H15.625V9.29167M10.875 2.16667V0.583336M10.875 2.16667V3.75M10.875 2.16667H7.3125" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M1.375 6.91666V3.75C1.375 2.87555 2.08388 2.16666 2.95833 2.16666H4.54167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M4.54163 0.583336V3.75" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.625 6.91666V3.75C15.625 2.87555 14.9162 2.16666 14.0417 2.16666H13.6459" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.6605 14.0417H14.0355M14.0355 14.0417H16.4167M14.0355 14.0417V11.6667M14.0355 14.0417V16.4167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </nz-icon>
                  <div class="card-info-item">
                    <span  *ngIf="!isEditingStartDate">{{process()?.startDate | date:'dd.MM.yyyy' }}</span>
                    <nz-date-picker
                      *ngIf="isEditingStartDate"
                      [(ngModel)]="process()!.startDate"
                      nzSize="large"
                      (keyup.enter)="finishEditing('startDate')"
                      nzVariant="underlined"
                      nzFormat="dd.MM.yyyy"></nz-date-picker>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="container">
              <h3>
                End Date
                <nz-icon nzType="edit" class="edit-icon"
                                   (click)="startEditing('planEndDate')"></nz-icon>
              </h3>
              <nz-card class="card">
                <div class="card-info-container">
                  <nz-icon>
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.29167 15.625H2.95833C2.08388 15.625 1.375 14.9161 1.375 14.0417V6.91667H15.625V9.29167M10.875 2.16667V0.583336M10.875 2.16667V3.75M10.875 2.16667H7.3125" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M1.375 6.91666V3.75C1.375 2.87555 2.08388 2.16666 2.95833 2.16666H4.54167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M4.54163 0.583336V3.75" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.625 6.91666V3.75C15.625 2.87555 14.9162 2.16666 14.0417 2.16666H13.6459" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.6605 14.0417H14.0355M14.0355 14.0417H16.4167M14.0355 14.0417V11.6667M14.0355 14.0417V16.4167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </nz-icon>
                  <div class="card-info-item">
                    <span *ngIf="!isEditingPlanEndDate">{{ process()?.planEndDate | date:'dd.MM.yyyy' }}</span>
                    <nz-date-picker
                      *ngIf="isEditingPlanEndDate"
                      [(ngModel)]="process()!.planEndDate"
                      nzSize="large"
                      (keyup.enter)="finishEditing('planEndDate')"
                      nzVariant="underlined"
                      nzFormat="dd.MM.yyyy"></nz-date-picker>
                  </div>
                </div>
              </nz-card>
            </div>
            <div class="container">
              <h3>
                Factual End Date
                <nz-icon nzType="edit" class="edit-icon"
                         (click)="startEditing('factEndDate')"/>
              </h3>
              <nz-card class="card">
                <div class="card-info-container">
                  <nz-icon>
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.29167 15.625H2.95833C2.08388 15.625 1.375 14.9161 1.375 14.0417V6.91667H15.625V9.29167M10.875 2.16667V0.583336M10.875 2.16667V3.75M10.875 2.16667H7.3125" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M1.375 6.91666V3.75C1.375 2.87555 2.08388 2.16666 2.95833 2.16666H4.54167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M4.54163 0.583336V3.75" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.625 6.91666V3.75C15.625 2.87555 14.9162 2.16666 14.0417 2.16666H13.6459" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.6605 14.0417H14.0355M14.0355 14.0417H16.4167M14.0355 14.0417V11.6667M14.0355 14.0417V16.4167" stroke="black" stroke-width="0.866667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </nz-icon>
                  <div class="card-info-item">
                    <span *ngIf="!isEditingFactEndDate">{{ process()?.factEndDate | date:'dd.MM.yyyy' }}</span>
                    <nz-date-picker
                      *ngIf="isEditingFactEndDate"
                      [(ngModel)]="process()!.factEndDate"
                      nzSize="large"
                      (keyup.enter)="finishEditing('factEndDate')"
                      nzVariant="underlined"
                      nzFormat="dd.MM.yyyy"></nz-date-picker>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
        <div nz-flex nzJustify="space-between" style="padding: 1vh 0.5vw;">
          <div class="container">
            <h3>
              Notes

              <!-- Мені не нравиться ця залупа саме тут з олівчиком -->
              <!-- <nz-icon nzType="edit" class="edit-icon"
                       (click)="startEditing('notes')"/> -->
            </h3>
            <nz-card class="card big" *ngIf="process() as p">
              <!-- <span *ngIf="!isEditingNotes">{{ process()?.notes }}</span> -->
              <textarea
                nz-input
                class="card-text-area"
                [(ngModel)]="p.notes"
                (ngModelChange)="onNotesChange($event)"
                (blur)="finishEditing('notes')">
              </textarea>
            </nz-card>
          </div>
          <div class="container">
            <h3>
              Reasons for non-completion
              <!-- <nz-icon nzType="edit" class="edit-icon"
                       (click)="startEditing('notDoneReasons')"/> -->
            </h3>
            <nz-card class="card big" *ngIf="process() as p">
              <!-- <span *ngIf="!isEditingNotDoneReasons">{{ process()?.notDoneReasons }}</span> -->
              <textarea
                nz-input
                class="card-text-area"
                [(ngModel)]="p.notDoneReasons"
                (ngModelChange)="onNotDoneReasonsChange($event)"
                (blur)="finishEditing('notDoneReasons')">
              </textarea>
            </nz-card>
          </div>
          <div class="container">
            <h3>
              Problems
              <!-- <nz-icon nzType="edit" class="edit-icon"
                       (click)="startEditing('problems')"/> -->
            </h3>
            <nz-card class="card big" *ngIf="process() as p">
              <!-- <span *ngIf="!isEditingProblems">{{ process()?.problems }}</span> -->
              <textarea
                nz-input
                class="card-text-area"
                [(ngModel)]="p.problems"
                (ngModelChange)="onProblemsChange($event)"
                (blur)="finishEditing('problems')">
              </textarea>
            </nz-card>
          </div>
        </div>

        <div class="project-details-bottom">
          <h3>
          Tasks
            <button nz-button nzType="text"  class="add-btn task" (click)="createNewTaskModalVisible=true">
              <nz-icon nzType="plus" nzTheme="outline" />
            </button>
        </h3>
        <!-- <nz-table class="task-table">
          <tbody>
           <tr>
             <td>Task name</td>
             <td>——</td>
             <td>
               <label nz-checkbox>
               </label>
             </td>
           </tr>
          </tbody>
        </nz-table> -->

        <nz-table class="task-table" #basicTable [nzData]="sortedTasks!">

          <thead>
            <tr>
              <th>Task name</th>
              <th style="width: 100px;">Actions</th>
            </tr>
          </thead>

          <tbody>
            @for (data of basicTable.data; track data.taskId) {
              <tr>
                <td>{{ data.taskName }}</td>
                <td>
                  <a (click)="onTaskDeleteClick(data)"> — </a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <label
                    nz-checkbox
                    [(ngModel)]="data.isDone"
                    (ngModelChange)="onCheckBoxClick(data)"></label>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>

        </div>
      </nz-content>


      <!--SIDER-->
      <nz-sider nzTheme="light" class="process-details-sider" nzWidth="20vw">
        <div nz-flex nzJustify="space-between" nzVertical style="height: 100%">
        <div class="sider-content">
        <h3>STATUS</h3>
        <nz-select *ngIf="process()" nzAllowClear nzPlaceHolder="Select status" [nzCustomTemplate]="defaultTemplate"
          style="width: 100%;" [(ngModel)]="process()!.status" (ngModelChange)="finishEditing('status')">
          <nz-option nzCustomContent nzLabel="To do" nzValue="ToDo">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#9E9E9E"/>
              </svg>
            </nz-icon>
            To do
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="In progress" nzValue="InProgress">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#2679ff"/>
              </svg>
            </nz-icon>
            In progress
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Paused" nzValue="Paused">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#FF9800"/>
              </svg>
            </nz-icon>
            Paused
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Expired" nzValue="Expired">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#F44336"/>
              </svg>
            </nz-icon>
            Expired
            </div>
          </nz-option>
          <nz-option nzCustomContent nzLabel="Done" nzValue="Done">
            <div style="display: flex; align-items: center; gap: 4px;">
              <nz-icon>
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="7.60714" height="8" rx="2" fill="#00C040"/>
              </svg>
            </nz-icon>
            Done
            </div>
          </nz-option>
        </nz-select>
        <ng-template #defaultTemplate let-selected>
          <div style="display: flex; align-items: center; gap: 4px;">
            <nz-icon>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="7.60714" height="8" rx="2" [attr.fill]="getColor(selected.nzValue)"/>
            </svg>
          </nz-icon>
          {{ selected.nzLabel }}
          </div>
        </ng-template>

        <div class="process-details-progress">
          <nz-progress
          [nzPercent]="progressPercent"
          nzStrokeColor="#7AC327"
          [nzShowInfo]="true"
          nzStrokeLinecap="round"
          style="width: 120px; margin-top: 1vh;">
        </nz-progress>
        </div>

        <nz-table *ngIf="process()" style="margin-top: 1vh;" [nzData]="process().responsibleUsers"
          nzShowPagination="false">
          <thead>
            <tr class="total-row">
              <th colspan="2" style="text-align: left;" >Total Cost:</th>
              <th>{{ getTotalSalary() | currency }}</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Days worked</th>
              <th>Sum</th>
            </tr>
          </thead>
          <tbody>
              @for (user of process().responsibleUsers; track user.userId) {
                <tr>
                  <td>{{ user.firstName }} {{ user.lastName }}</td>
                  <td>{{ getUserWorkInfo(user).daysWorked }} days worked</td>
                  <td>{{ getUserWorkInfo(user).totalSalary | currency }}</td>
                </tr>
              }
          </tbody>
        </nz-table>

        <div class="process-details-responsible">

          <div class="header">
            <h3 class="card-label">Responsible</h3>
            <nz-icon
              [(nzVisible)]="dropdownVisible"
              [nzDropdownMenu]="menu"
              nz-dropdown
              nzTrigger="click"
              nzType="plus"
              nzTheme="outline"
              class="edit-icon"/>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div style="background-color: white; border-radius: 10px;
                box-shadow: 0 4px 12px rgba(0,0,0,0.15);">

                <div style="padding: 8px; border-bottom: 1px solid #f0f0f0;">
                  <nz-input-group [nzSuffix]="suffixIconSearch" class="page-header-search users">
                    <input type="text" nz-input placeholder="Search Users" />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <nz-icon nzType="search"></nz-icon>
                  </ng-template>
                </div>

                  <div style="max-height: 400px; overflow-y: auto; padding: 8px; min-width: 250px;">
                    @for (user of availableUsers; track user.userId) {
                      <nz-card
                        class="card user"
                        (click)="onUserSelect(user)"
                        [nzBodyStyle]="{padding: '1vh 0.2vw',
                          display: 'flex',flexDirection:'row', alignItems: 'left',
                          justifyContent: 'space-between'}" >
                        <span>
                        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.1875 5.67169C5.43539 5.67169 4.71408 5.37291 4.18226 4.84109C3.65043 4.30926 3.35166 3.58796 3.35166 2.83584C3.35166 2.08373 3.65043 1.36242 4.18226 0.830599C4.71408 0.298776 5.43539 0 6.1875 0C6.93961 0 7.66092 0.298776 8.19274 0.830599C8.72457 1.36242 9.02334 2.08373 9.02334 2.83584C9.02334 3.58796 8.72457 4.30926 8.19274 4.84109C7.66092 5.37291 6.93961 5.67169 6.1875 5.67169ZM6.1875 6.91763C9.95794 6.91763 12.375 8.99831 12.375 10.0114V11.9031H0V10.0114C0 8.78625 2.28825 6.91763 6.1875 6.91763Z" fill="black"/>
                        </svg>
                          {{user.firstName}} {{user.lastName}}
                        </span>

                        <nz-tag nzColor="#ACACAC" [nzBordered]="false" style="border-radius:30px; margin: 0;" >{{user.role}}</nz-tag>
                      </nz-card>
                    }
                </div>
              </div>
            </nz-dropdown-menu>

          </div>

          @if(process()?.responsibleUsers!.length > 0){
            @for (user of process()?.responsibleUsers; track user.userId) {
              <nz-card
                class="card user"
                [nzBodyStyle]="{padding: '1vh 0.2vw', display: 'flex',flexDirection:'row', alignItems: 'center',
                justifyContent: 'space-between', gap: '0px'}" >
                <span>
                  <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.1875 5.67169C5.43539 5.67169 4.71408 5.37291 4.18226 4.84109C3.65043 4.30926 3.35166 3.58796 3.35166 2.83584C3.35166 2.08373 3.65043 1.36242 4.18226 0.830599C4.71408 0.298776 5.43539 0 6.1875 0C6.93961 0 7.66092 0.298776 8.19274 0.830599C8.72457 1.36242 9.02334 2.08373 9.02334 2.83584C9.02334 3.58796 8.72457 4.30926 8.19274 4.84109C7.66092 5.37291 6.93961 5.67169 6.1875 5.67169ZM6.1875 6.91763C9.95794 6.91763 12.375 8.99831 12.375 10.0114V11.9031H0V10.0114C0 8.78625 2.28825 6.91763 6.1875 6.91763Z" fill="black"/>
                  </svg>
                    {{user.firstName}} {{user.lastName}}
                </span>
                <nz-tag nzColor="#ACACAC" [nzBordered]="false" style="border-radius:30px; margin: 0;" >{{user.role}}</nz-tag>
                <nz-icon nzType="close" class="edit-icon"
                  (click)="deleteResponsibleUser(user)"/>
              </nz-card>
            }
          } @else {
            <nz-card [nzBodyStyle]="{padding: '1vh 0.2vw', display: 'flex',flexDirection:'row', alignItems: 'left', justifyContent: 'space-between'}" class="card">
                <span style="text-align:center; font-style:italic; color:gray;">
                  Responsible do not added yet.
                </span>
              </nz-card>
          }
        </div>
        </div>
          <div class="sider-footer">
            <button nz-button nzType="primary" nzDanger class="btn delete"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure you want to delete this process?"
            nzPopconfirmPlacement="topLeft"
            (nzOnConfirm)="confirmDelete()">
            <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
            Delete Process
           </button>
          </div>
        </div>

      </nz-sider>
    </nz-layout>
  </ng-container>
</nz-drawer>
