nz-layout {
    height: 100%;
}

.project-details-bottom{
    padding: 1vh 0.5vw;
}

.card.big ::ng-deep .ant-card-body {
    padding: 15px;
    width: 20vw;
    height: 14vh;
}

.card-text-area {
    border: transparent;
    width: 100%;
    height: 100%;
    resize: none;
}