.card.kanban{
  max-width: 19.006vw;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  width: 100%;
}

.card-info-container.kanban{
    flex-direction: column;
    gap: 1vh;
}
