.flex-table.kanban {
  height: 85vh;
  display: flex;
  align-items: stretch;
  gap: 0.75rem;

  overflow-x: auto;   /* включаем горизонтальный скролл */
  overflow-y: hidden; /* чтобы не было вертикального */
  flex-wrap: nowrap;  /* запрещаем перенос на новую строку */
}

.flex-table.kanban > app-kanban-card {
  height: 100%;
  min-height: 0;

  flex: 0 0 auto; /* запрещаем сжиматься и заставляем оставаться в потоке */
}