.card.archive {
  width: 23.5vw;
  font-size: 1.9vh;
  background-color: #eaeaea; // світліший фон ніж у project
  border-radius: 8px;
  transition: all 0.3s ease;
  opacity: 0.85; // трохи прозоріша щоб підкреслити "архівність"

  &:hover {
    background-color: #f0f0f0;
    transform: scale(1.01);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }

  .card-title {
    font-size: 2vh;
    font-style: italic; // наприклад курсив щоб виділити
  }

  .card-description {
    font-size: 1.9vh;
    height: 6vh;
    color: #666;
  }

  .card-info-container {
    gap: 2vw;

    .card-info-item {
      .card-info-label {
        font-weight: bold;
        color: #555;
      }
    }
  }

  .card-status {
    gap: 2vw;

    .card-status-item {
      display: flex;
      align-items: center;
      gap: 0.2vw;

      &.done {
        color: green;
      }

      &.in-progress {
        color: orange;
      }

      &.to-do {
        color: gray;
      }
    }
  }

  .card-button {
    padding: 0 2.5vw;
    color: white;
    background-color: #6c757d; // інший колір для архівних (сірий)
  }

  .card-button.restore {
    background-color: #28a745; // зелений для кнопки Restore
  }
}

.card-footer-wrapper {
  justify-content: end;
}
