.archived-project-card {
  width: 26.5vw;
  border-radius: 10px;
  font-size: 1.8vh;
}

.archived-project-card-title {
  font-size: 1.8vh;
  font-weight: 600;
  color: #1f2937;
}

.archived-project-card-description {
  font-size: 1.8vh;
  height: 6vh;
  color: #4b5563;
}

.archived-project-card-dates {
  display: flex;
  justify-content: start;
  gap: 2vw;
  color: #374151;

  .archived-project-card-date {
    display: flex;
    flex-direction: column;
  }

  .archived-project-date-label {
    font-weight: 600;
  }
}

.archived-project-card-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;

  .archived-project-status-item {
    display: flex;
    align-items: center;

    span {
      padding: 0 0.25vw;
    }

    &.done .avatar-done {
      background-color: black;
      color: white;
    }

    &.in-progress {
      color: #6b7280;
    }

    &.to-do {
      color: #6b7280;
    }
  }
}

.archived-project-card-footer {
  text-align: right;

  .archived-project-archive-button {
    padding: 0 2.5vw;
    background-color: #00C040;
    border: none;
    border-radius: 20px;
    height: 5.2vh;
    color: white;
    font-weight: 600;
  }
}
